.like-button {
  border: none;
  background-color: white;
  color: #12ff45;
  width: 2rem;
  height: 2rem;

  i {
    margin-top: 3rem;
    margin-left: 10rem;
    font-size: 1.5rem;
    color: #12ff45;
    &.liked {
      color: red;
    }
  }

  &:hover {
    color: #8ff0ac;
  }

  &.clicked {
    i {
      color: red;
    }
  }
}
