form {
    background-color: #7CEA72;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 5px;
    line-height: 55px;
    
    input {
        width: 40%;
        height: 1.8rem;
        background-color: #EBFFD3;
        border-radius: 10px;
        border: 1.4px solid black;
    }
    #emailConteiner {
        padding: 0 10px;
    }
}
#button {
    background-color: #5CCD5A;
    border-radius: 10px;
    border: 1.4px solid black;
    width: 15rem;
    height: 1.8rem;
    color: #E5FF48;
}
.exclusivo {
    color: rgb(34, 33, 33);
    font-size: 1.3rem;
    text-align: center;
}
.cancela {
    font-size: 0.7rem;
    text-align: end;
    margin-right: 12.5vw;
}

@media only screen and (min-width: 781px) and (max-width: 910px) {
    .exclusivo {
        font-size: 1.1rem;
    }

    input {
        width: 75% !important;
        height: 1.5rem;
        background-color: #EBFFD3;
        border-radius: 10px;
        border: 1.4px solid black;
    }
}
@media only screen and (min-width: 570px) and (max-width:780px) {
    .exclusivo {
        font-size: 1rem;
    }
    form {
        line-height: 30px;
    }

  
}

@media only screen and (min-width: 360px) and (max-width:569px) {
    .exclusivo {
        font-size: 0.8rem;
    }
    form {
        line-height: 30px;
    }

   
}
