* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: #155f87;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    >img {
      margin-left: 1rem;
    }
  }
  >nav {
    display: flex;
    height: 60%;
    align-items: end;
    margin-right: 50px;
  
    > ul {
      display: flex;
      align-items: end;
      gap: 20px;

      >li > ul {
        width: 200px;
        display: flex;
        flex-direction: column;
        background-color: #71e5f7;
        box-shadow: #0096e7;
        position: absolute;
        padding: 14px 0px;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        transition: all 300ms ease;

        > li {
          display: block;
          padding: 6px;
          transition: all 300ms ease;
          text-align: center;

          >a {
            color: black;
          }
        }
        > li:hover {
          background-color: #00c1dd;
          transform: scale(1.1);
        }
      }
      > li:hover > ul {
        visibility: visible;
        opacity: 1;
      }
    }
    button {
      height: 2rem;
      width: 8rem;
      border-radius: 10px;
      border: none;
      font-size: 1.3rem;
    }
  }
}

#home {
  background-color: #0096e7;
}
#categories {
  background-color: #00c1dd;
}
#button-suscribe {
  transition: ease-in-out all 0.4s;
  width: 50px;
  display: flex;
  align-items: center;
  background-color: #47d47f;
  filter: brightness(0.9);
}
#button-suscribe:hover {
  width: 9.5rem;
  filter: brightness(1.1);
}
#button-star-figure {
  float: left;
  width: 2rem;
  margin-left: 5px;
}
#button-suscribe-side {
  font-size: 1.3rem;
  margin-left: 1rem;
  overflow: hidden;
  color: #ffef15;
}

.img-shop {
  height: 2.6rem;
  width: 2.4rem;
  margin-bottom: -0.3rem;
}

@media (max-width: 900px) {
  .header-logo {
    img {
      width: 12rem;
      height: 4rem;
    }
  }
  header{
    nav {
      button {
      height: 1.8rem;
      width: 5.8rem;
      border-radius: 10px;
      border: none;
      font-size: 1rem;
      }
    }
  }

  #button-suscribe {
    transition: ease-in-out all 0.4s;
    width: 2.5rem;
    display: flex;
    align-items: center;
    background-color: #47d47f;
    filter: brightness(0.9);
  }
  #button-suscribe:hover {
    width: 7.5rem;
    filter: brightness(1.1);
  }
  #button-star-figure {
    float: left;
    width: 1.5rem;
    margin-left: 5px;
  }
  #button-suscribe-side {
    font-size: 1rem;
    margin-left: 1rem;
    overflow: hidden;
    color: #ffef15;
  }
}

@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .img-shop {
  height: 2.2rem;
  width: 1.8rem;
  }

  nav {
    margin-bottom: 0.5rem;
  }
}