.container-productos {
   
    overflow: hidden;
  }
  .image-container-productos {
    position: relative;
    transition: transform 0.3s ease;
  }
  .image-container-productos .imgp {
    max-width: 100%;
    display: block;
  }
  .menu-productos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(38, 37, 37, 0.7);
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  .menu-productos .ul-productos {
    list-style: none;
    padding: 0;
  }
  .menu-productos .li-productos {
    color: white;
    text-align: center;
    padding: 1%;
  }
  .image-container-productos:hover {
    transform: translateY(-25px);
  }
  .image-container-productos:hover .menu-productos {
    transform: translateY(0);
  }