#lovetoo {
  .lovetootexth4 {
      text-align: center;
      color: rgb(247, 239, 239);
      padding: 3%;
    }
    .lovetootexth5, .lovetootextp {
      margin-top: 5%;
    }
    .lovetoo-cards {
      background-color: rgb(247, 239, 239);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80vw;
      padding: 3%;
      gap: 3%;
      margin-left: 7.5%;
      margin-bottom: 3%;
      position: relative;
      border-radius: 10px;
      position: relative;
    }
    img {
      width: 18vw;
      border-radius: 15px;
    }
    .image-container {
      position: relative;
      overflow: hidden;
      width: 18vw;
      height: auto;
      transition: transform 0.3s;
    }
    .image-container img {
      width: 100%;
      height: auto;
    }
    .image-container:hover {
      transform: scale(1.1);
    }
    .lovetoo-card-detail img {
      width: 18vw;
      transition: opacity 0.3s;
    }
    .lovetoo-card-detail img:hover {
      opacity: 0.7;
    }
    .lovetoo-card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    }
    .btn-left,
    .btn-right {
      color: #F8F5F5;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #DBD8D8;
      transition: background-color 0.3s;
      padding: 0.3%;
      position: absolute;
      bottom: -55%;
    }
    .btn-left {
      margin-left: 5%;
    }
    .btn-right {
      right: 3%;
    }
}