* {
    margin: 0;
    padding: 0;
}
.container-categories h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 4%;
    color: #ffff;
}
.container-cards-categories {
    padding: 4.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 3rem;
}
.container-cards-categories img{
    border-radius: 5%;
    width: 100%;
    height: auto;
}
.category h2 {
    position: absolute;
    color: #ffff;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    font-size: 2rem;
    transition: all 0.8s ease-in-out;
}
.category img {
    transition: all 0.8s ease-in-out;
}
.category:hover h2 {
    opacity: 1;
    transform: scale(1);
}
.category:hover img {
    filter: brightness(0.7);
}
@media (max-width: 910px) {
    .container-cards-categories {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
        gap: 2rem;
    }
}
@media (max-width: 815px) {
    .container-cards-categories {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 2rem;
    }
    .category h2 {
        font-size: 2.8rem;
    }
}