* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

.header-main {
    .cabecera {
        text-align: center;
    }

    p {
        text-align: center;
        color: white;
        margin: 2%;
    }
}

#pagination-container {
    margin-bottom: 1%;
}

#taza {
    border-radius: 5%;
}

#diadema {
    border-radius: 5%;
}

.container-section-product {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5%;
}

.card-content-red {
    background-color: #EFEFEF;
    padding: 10px;
    overflow: hidden;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2%;
}

.card-red-products {
    border: 1px solid #eee;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 #eee;
    width: 25%;
    margin: 15px;
    position: relative;
    cursor: pointer;
    border-radius: 10%;
}

.card-red-products img {
    width: 100%;

    object-fit: cover;
}

.simple-pagination ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 10px;
}

.simple-pagination li {
    display: inline-block;
    margin: 2px;
}

.simple-pagination li a,
.simple-pagination li span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

.simple-pagination li a:hover {
    background: #000;
    color: #fff;
}

.simple-pagination .current {
    color: #fff;
    background-color: #000;
    border-color: rgb(255, 255, 255);
    border: 1px solid;
    cursor: pointer;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #222;
    border: none;
}

.redirecc-home {
    width: 7rem;
    height: 1.8rem;
    background-color: #EBFFD3;
    border-radius: 10px;
    border: 1.4px solid black;
    text-align: center;
    padding-top: 0.7%;
    margin-left: 47.5%;
    margin-bottom: 1.5%;

    a {
        color: grey;
    }
}