.container-carousel {
  display: flex;
<<<<<<< HEAD
  border-radius: 20%;
  img{
    width: 90%;
    height: 100%;
    border-radius: 2rem;
    margin-left: 5%;
    margin-top: 5%;
  }
}
#btn-left, #btn-right {
  display: flex;
  position: absolute;
  margin-top: -5%;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(69, 25, 163);
  transform: translate(-50%, -50%);
  transition: 1.3s ease;
  user-select: none;
  &:hover {
    background-color: aqua;
    color: azure;
  }
}
#btn-left {
  left: -0.5rem;
}
#btn-right {
  right: -0.5rem;
=======
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 27rem;
  margin-top: 5rem;
}

.slider-section {
  width: 100%;
  height: 100%;
  
  > img {
    width: 100%;
    height: 100%;
  }
}
#slider-images-section {
  width: 80%;
  height: auto;
>>>>>>> dev
}

.carousel-indicators {
  margin-top:0.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  > span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #ccc;
    border-radius: 50%;
    margin: 1rem;
    &.w3-white {
      background-color: #7CEA72;
      transform: scale(1.1);
      position: relative;
      width: 2rem;
      border: none;
      border-radius: 1.5rem;
      margin:2rem !important;
    }
    &:hover {
      background-color: #7CEA72;
      transform: scale(1.2);
    }
  }
<<<<<<< HEAD
} 
=======
}
#btn-right {

  img {
    width: 100%;
    height: 100%;
  }
}
#btn-left {
  img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 360px) and (max-width: 900px) {

#btn-right {
  width: 3rem;
}
#btn-left {
  width: 3rem;
}
.carousel-indicators {
  > span {
    width: 0.8rem;
    height: 0.8rem;
    &.w3-white {
      background-color: #7CEA72;
      width: 2rem;
      margin:1rem !important;
    }
  }
}
.container-carousel {
  width: 100%;
  height: 7rem;
  margin-top: 2rem;
}

.slider-section {
  width: 100%;
  height: 100%;
  
  > img {
    width: 100%;
    height: 100%;
  }
}
#slider-images-section {
  width: 100%;
  height: auto;
}
}
@media (min-width: 360px) and (max-width: 600px) {
  #btn-right {
  display: none;
  }
  #btn-left {
    display: none;
  }
}
>>>>>>> dev
